<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
      // Inicializa o objeto
      var platform = new H.service.Platform({
        'apikey': 'cm1I_gElp2PLoVHrdAMCFcDiwjDU8npXUjQTwCTjORE'
      });
	  
    // Passa com jinja os valores enviados na renderização da pagina
	   const lat = {{localizacao.latitude}};
	   const long = {{localizacao.longitude}};
	
	// Guarda na variavel os tipos de mapa pré definidos
      var maptypes = platform.createDefaultLayers();

      // inicializa o mapa
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
          zoom: 10,
          center: { lat: lat, lng: long }  
        });
		
	// guarda na variavel a instancia dos eventos do mapa
	  var mapEvents = new H.mapevents.MapEvents(map);
	

	// Instacia os eventos como comportamento padrão
	 var behavior = new H.mapevents.Behavior(mapEvents);

        
	window.addEventListener('resize',()=> get.ViewProt().resize())
	var marker = new H.map.Marker({ lat: lat, lng: long } );
		
	// Adiciona o marcador
	map.addObject(marker);
	
	var ui = H.ui.UI.createDefault(map, maptypes);
		
</script>